<!-- <h1>Country Lookup</h1> -->

<div class="pagebody">
  <form class="form-inline">
    <div class="form-group">
      <label for="countryname"></label>
      {{input value=countryname id="countryname" class="form-control" placeholder="What'll it be?"}}
    </div>
    <button class="btn outline-btn" {{action 'general'}}>Search</button>
  </form>

  {{outlet}}
</div>
