<!-- <h1>Country Lookup</h1> -->

<form class="form-inline">
  <div class="form-group">
    <label for="countryname">Country Name</label>
    {{input value=countryname id="countryname" class="form-control"}}
  </div>
  <button class="btn btn-default" {{action 'general'}}>Search</button>
</form>
<hr>

{{outlet}}
